<div class="container">
  <button type="button" class="btn btn-success" (click)="toggleAdd()">
    Add New
  </button>
  <div *ngIf="flag">
    <form class="form-inline tm-5">
      <label for="rb_id" class="mb-2 mr-sm-2">Reimbursement ID:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="rb_id" placeholder="Enter ID" name="rb_id"
        [(ngModel)]="newreimbursement.rb_id">
      <label for="mgr_id" class="mb-2 mr-sm-2">Manager ID:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="mgr_id" placeholder="Enter ID" name="mgr_id"
        [(ngModel)]="newreimbursement.mgr_id">
      <label for="emp_id" class="mb-2 mr-sm-2">Employee ID:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="emp_id" placeholder="Enter ID" name="emp_id"
        [(ngModel)]="newreimbursement.emp_id">
      <label for="emp_id" class="mb-2 mr-sm-2">Date :</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="rb_date" placeholder="Enter Date" name="rb_date"
        [(ngModel)]="newreimbursement.rb_date">
      <label for="rb_amount" class="mb-2 mr-sm-2">Reimbursement Amount:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="rb_amount" placeholder="Enter Amount" name="rb_amount"
        [(ngModel)]="newreimbursement.rb_amount">
      <button type="button" class="btn btn-primary" (click)="addReimbursement()">ADD
      </button>
    </form>
  </div>
  <h2>Reimburstment List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Reimbursement ID</th>
        <th>Manager ID</th>
        <th>Employee ID</th>
        <th>reimbursement Date</th>
        <th>reimbursement Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reimbursement of allreimbursement">
        <td>{{ reimbursement.rb_id }}</td>
        <td>{{ reimbursement.mgr_id }}</td>
        <td>{{ reimbursement.emp_id }}</td>
        <td>{{ reimbursement.rb_date }}</td>
        <td>{{ reimbursement.rb_amount }}</td>
        <td>
          <button type="button" class="btn btn-danger small" (click)="removeReimbursement(reimbursement.rb_id)">
            <span class="material-icons bg-danger small">delete</span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary small" (click)="goToEditComponent(reimbursement.rb_id)">
            <span class="material-icons">edit</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>