<h2 style="text-align:center; font-weight: bold;font-size:60px;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRigd3cu1f4Nd1ECxwLAP7aE25Adg_0BG2wHIq3Iq0udM7tiejKTt0t-G_XF9v-4Z5WsJE&usqp=CAU" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
</h2>

<div style="font-weight: bold;color:rgb(0, 0, 0);font-size:30px;text-align:center;" >{{userInfo.user_fname}} {{userInfo.user_lname}} Information</div>
<div class="container mb-5">
  <div class="card mt-5">
   
    <div class="card-body">
      <form  >
        <div style="font-weight: bold;color:rgb(93, 54, 201);font-size:20px;text-align:center;" class="form-group">
          <label  for="username" >Username: {{userInfo.username}}</label>
         
        </div>
        <div style="font-weight: bold;color:rgb(93, 54, 201);font-size:20px;text-align:center;" class="form-group">
          <label  for="user_fname">First Name: {{userInfo.user_fname}}</label>
        
        </div>
        <div style="font-weight: bold;color:rgb(93, 54, 201);font-size:20px;text-align:center;" class="form-group">
          <label  for="user_lname">Last Name : {{userInfo.user_lname}}</label>
      
        </div>
        <div style="font-weight: bold;color:rgb(93, 54, 201);font-size:20px;text-align:center;" class="form-group">
          <label  for="user_address">Address: {{userInfo.user_address}}</label>
         
        </div>
        <div style="font-weight: bold;color:rgb(93, 54, 201);font-size:20px;text-align:center;" class="form-group">
          <label  for="user_contact">Contact: {{userInfo.user_contact}}</label>
        
        </div>  
      </form>
    </div>
  </div>
</div>
    
    